<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>vue</title>

    <script src="https://unpkg.com/vue"></script>
</head>

<body>

<div id="app">
    <p>{{ message }}</p>

    <div>
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>

    <div>
        <span v-if="seen">Now you see me</span>
    </div>

    <div>
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div>
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

</div>

<script src="js/index.js"></script>
</body>

</html>